{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="d-flex justify-content-between mb-3">
      <h2>Ferramentas</h2>
      <button role="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalAdd">Adicionar</button>
    </div>
    
    <p id="message"></p>
    
    <div class="mb-3">
      <input type="text" class="form-control" id="search_text" placeholder="Pesquisar" required>
    </div>
    
    <div id="tools"></div>
    
    <!-- Modal adicionar -->
    <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalAddLabel">Adicionar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" id="add-form" novalidate>
              <div class="row">
    			      <div class="mb-3 col-4">
    				      <label for="name" class="form-label">Nome <span class="text-danger fw-bold">*</span></label>
        				  <input type="text" class="form-control" id="name" placeholder="Ex: Data Social" required>
        			   </div>
    
    			      <div class="mb-3 col-4">
    				      <label for="author" class="form-label">Autor <span class="text-danger fw-bold">*</span></label>
    				      <input type="text" class="form-control" id="author" placeholder="Ex: Oliver Silva" required>
    			      </div>
    			    
    			      <div class="mb-3 col-4">
      				    <label for="alias" class="form-label">Apelido <span class="text-danger fw-bold">*</span></label>
      				    <input type="text" class="form-control" id="alias" placeholder="Ex: DataSocial" required>
    			      </div>
    			    
    	          <div class="mb-3 col-4">
       				    <label for="executable" class="form-label">Executável</label>
       				    <input type="text" class="form-control" id="executable" placeholder="Ex: datasocial">
       			    </div>
    
       			    <div class="mb-3 col-8">
       				    <label for="dependencies" class="form-label">Dependências</label>
       				    <input type="text" class="form-control" id="dependencies" placeholder="Ex: proot git">
       			    </div>
       			    
       			    <div class="mb-3 col-12">
       				    <label for="basic-url" class="form-label">Seu URL intuitivo</label>
       				    <div class="input-group">
       				      <span class="input-group-text" id="basic-addon3">https://github.com/</span>
       				      <input type="text" class="form-control" id="link" aria-describedby="basic-addon3 basic-addon4"  placeholder="Ex: Olliv3r/DataSocial">
       				    </div>
       				    <div class="form-text" id="basic-addon4">
       				      Preencha o restante do URL com o autor e nome do repositório.
       				    </div>
       			    </div>
    
       			    <div class="mb-3 col-12">
       			      <label class="form-label">Tipo de instalação <span class="text-danger fw-bold">*</span></label>
      				    <select class="form-select" id="installation_type" aria-label="Tipos de instalação">
      				    </select>
       			    </div>
       			    
       			    <div class="mb-3 col-12">
          			  <label class="form-label">Categoria <span class="text-danger fw-bold">*</span></label>
         				  <select class="form-select" id="category" aria-label="Categorias">
         				  </select>
          			</div>
    
          			<div class="mb-3 col-12">
          			  <label for="installation_tip" class="form-label">Dica de instalação</label>
          			  <textarea class="form-control" id="installation_tip" rows="3" placeholder="Ex: bash $HOME/DataSocial/setup"></textarea>
          			</div>
          			
          			<div class="mb-3 col-12">
          			  <label for="description" class="form-label">Descrição</label>
          			  <textarea class="form-control" id="description" rows="3" placeholder="Ex: Pesca dados de redes sociais através de páginas sociais modificadas usando a técnica phishing de engenharia social DataSocial"></textarea>
          			</div>
       			  </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-success" data-save>Adicionar</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal visualizar -->
    <div class="modal fade" id="modalView" tabindex="-1" aria-labelledby="modalViewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalViewLabel">Visualizar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal editar -->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEditLabel">Editar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" id="edit-form" novalidate>
              <div class="row">
			          <div class="mb-3 col-4">
				          <label for="name" class="form-label">Nome <span class="text-danger fw-bold">*</span></label>
				          <input type="text" class="form-control" id="name" placeholder="Ex: Data Social" required>
		            </div>

			          <div class="mb-3 col-4">
				          <label for="author" class="form-label">Autor <span class="text-danger fw-bold">*</span></label>
				          <input type="text" class="form-control" id="author" placeholder="Ex: Oliver Silva" required>
		            </div>
			    
			          <div class="mb-3 col-4">
        				  <label for="alias" class="form-label">Apelido <span class="text-danger fw-bold">*</span></label>
        				  <input type="text" class="form-control" id="alias" placeholder="Ex: DataSocial" required>
                </div>
			    
			          <div class="mb-3 col-4">
         				  <label for="executable" class="form-label">Executável</label>
         				  <input type="text" class="form-control" id="executable" placeholder="Ex: datasocial">
         			  </div>

       			    <div class="mb-3 col-8">
         				  <label for="dependencies" class="form-label">Dependências</label>
         				  <input type="text" class="form-control" id="dependencies" placeholder="Ex: proot git">
       			    </div>
   			    
   			        <div class="mb-3 col-12">
         				  <label for="basic-url" class="form-label">Seu URL intuitivo</label>
       				    <div class="input-group">
       				      <span class="input-group-text" id="basic-addon3">https://github.com/</span>
       				      <input type="text" class="form-control" id="link" aria-describedby="basic-addon3 basic-addon4"  placeholder="Ex: Olliv3r/DataSocial">
       				    </div>
         				  <div class="form-text" id="basic-addon4">
         				     Preencha o restante do URL com o autor e nome do repositório.
                  </div>
         			  </div>

       			    <div class="mb-3 col-12">
       			      <label class="form-label">Tipo de instalação <span class="text-danger fw-bold">*</span></label>
    				      <select class="form-select" id="installation_type" aria-label="Tipos de instalação">
    				      </select>
       			    </div>
   			    
       			    <div class="mb-3 col-12">
          			  <label class="form-label">Categoria <span class="text-danger fw-bold">*</span></label>
       				    <select class="form-select" id="category" aria-label="Categorias">
       				    </select>
          			</div>

          			<div class="mb-3 col-12">
          			  <label for="installation_tip" class="form-label">Dica de instalação</label>
          			  <textarea class="form-control" id="installation_tip" rows="3" placeholder="Ex: bash $HOME/DataSocial/setup"></textarea>
          			</div>
          			
          			<div class="mb-3 col-12">
          			  <label for="description" class="form-label">Descrição</label>
          			  <textarea class="form-control" id="description" rows="3" placeholder="Ex: Pesca dados de redes sociais através de páginas sociais modificadas usando a técnica phishing de engenharia social DataSocial"></textarea>
          			</div>
       			  </div>
            </form>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-warning" data-save>Editar</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal apagar -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header text-bg-danger">
            <h1 class="modal-title fs-5" id="modalDeleteLabel">EXCLUIR ÍTEM</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja excluir este ítem?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" data-save>Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
