header {
  margin-bottom: 16px !important;
}

.sobre, 
.transferencia, 
.comunidade {
  border-radius: 0 !important;
  background-color: #f8f9fa !important;
}

.title {
  font-size: 1.5rem;
  margin-top: 10px;
}


.messages {
  margin-bottom: 16px;
}
.rodape {
  height: 60px;
  margin-top: 10px;
}
.rodape p {
  text-align: center;
  font-size: 0.9rem;
  line-height: 60px;
}