<dl class="row">
  <dt class="col-4">ID</dt>
  <dd class="col-8">{{ tool.id }}</dd>
  <dt class="col-4">Nome</dt>
  <dd class="col-8">{{ tool.name }}</dd>
  <dt class="col-4">Autor</dt>
  <dd class="col-8">{{ tool.author.name }}</dd>
  <dt class="col-4">Apelido</dt>
  <dd class="col-8">{{ tool.alias }}</dd>
  
  {% if tool.executable %}
  <dt class="col-4">Executável</dt>
  <dd class="col-8">{{ tool.executable }}</dd>
  {% endif %}
  
  {% if tool.name_repo %}
  <dt class="col-4">Repositório</dt>
  <dd class="col-8">{{ tool.name_repo }}</dd>
  {% endif %}
  
  {% if tool.link %}
  <dt class="col-4">Link</dt>
  <dd class="col-8 overflow-auto">
    <a class="text-black text-decoration-none" href="https://github.com/{{ tool.link }}" target="_blank"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Acessar</a>
  </dd>
  {% endif %}
  
  {% if tool.author.github %}
  <dt class="col-4">Github</dt>
  <dd class="col-8 overflow-auto">
    <a class="text-black text-decoration-none" href="{{ tool.author.github }}" target="_blank"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Perfil
    </a>
  </dd>
  {% endif %}
  
  {% if tool.dependencies %}
  <dt class="col-4">Dependências</dt>
  <dd class="col-8 overflow-auto">{{ tool.dependencies }}</dd>
  {% endif %}

  <dt class="col-4">Instalação via</dt>
  <dd class="col-8">{{ tool.installation_type.name }}</dd>
  <dt class="col-4">Categoria</dt>
  <dd class="col-8">{{ tool.category.name }}</dd>

  {% if tool.installation_tip %}
  <dt class="col-4">Dica</dt>
  <dd class="col-8 overflow-auto">
    <pre class="text-primary">{{ tool.installation_tip }}</pre>
  </dd>
  {% endif %}
  
  {% if tool.description %}
  <dt class="col-4">Descrição</dt>
  <dd class="col-8">
    <textarea class="form-control" aria-label='Somente leitura' readonly>{{ tool.description }}</textarea>
  </dd>
  {% endif %}
  
  <dt class="col-4">Criado</dt>
  <dd class="col-8">{{ tool.created }}</dd>
  
  <dt class="col-4">Modificado</dt>
  <dd class="col-8">{{ tool.modified }}</dd>
</dl>
